p{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    gap: 15px;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    gap: 10px;
    background-color: white;
}

img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}